*{
    margin: 0;
    padding: 0;
}

a { color: inherit; } 

.b{
    border: 1px solid green;
}
.text-uppercase{
    text-transform: uppercase;
}
.btnmargin{
    margin-top: 0px;
    margin-right: 30px;
}
.btnmargin:hover {
    background-color: rgba(158,158,158,0.3);
}
#ipfieldTemp,#ipemailTemp,#txtareaTemp,.chkrdoItem,.slctitem{
    margin-bottom: 30px;
}
.dynamic-color .red, .dynamic-color .pink, .dynamic-color .purple, .dynamic-color .deep-purple, .dynamic-color .indigo, .dynamic-color .blue, .dynamic-color .light-blue, .dynamic-color .cyan, .dynamic-color .teal, .dynamic-color .green, .dynamic-color .light-green, .dynamic-color .lime, .dynamic-color .yellow, .dynamic-color .amber, .dynamic-color .orange, .dynamic-color .deep-orange, .dynamic-color .brown, .dynamic-color .grey, .dynamic-color .blue-grey, .dynamic-color .black, .dynamic-color .white, .dynamic-color .transparent {
    height: 55px;
    width: 100%;
    padding: 0 15px;
    font-weight: 500;
    font-size: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.h {
    display: none;
}
.color-select:hover{
    cursor: pointer;
    border: 1px solid blue;
}