*{
    margin: 0;
    padding: 0;
}
.b{
    border: 1px solid green;
}
.tabs .tab{
    margin: 0px 20px;
}
.tabs .tab a{
    color: #666;
}
.tabs .tab a:hover {
    color: #666;
}
.tabs .tab a.active{
    color: white;
}
.tabs .indicator {
    background-color: transparent ;
}
.btn{
    background-color: #4285f4 ;
}
.btn:hover{
    background-color: #4285f4 ;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.sa:hover{
background-color: rgba(158,158,158,0.3);
}